<div class="container">
  <%= form_with url:"/product", method: :post do |f| %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :price %><br />
      <%= f.number_field :price %>
    </div>

    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </div>

    <% if @product.image.attached? %>
      <%= image_tag @product.image %>
    <% end %>

    <div class="actions_container">
      <%= f.button :submit, class: "actions" %>
    </div>
  <% end %>
</div>